.git
**/.git
.env
.env.*
**/.env
**/.env.*
!.env.example
**/.venv
**/venv
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/dist
**/build
**/*.egg-info
.local
reports
**/notebooks
**/*.ipynb
*.tar
*.dump
*.log
prodigy.json
**/prodigy.json*
**/conf/local/**
example/mykedro/data/**
!example/mykedro/data/**/.gitkeep
prodigy-*.yaml
pvc-model-*.yaml
serve-*.yaml
*.pem
*.key
bundle.unminified.js
