*.egg-info
.DS_Store
__pycache__
.vscode
*.sqlite3
postgres.tar
.env
.env.*
!.env.example
.local/
**/prodigy.json
prodigy-*.yaml
pvc-model-*.yaml
serve-*.yaml
*.dump
*.bundle
/reports/github-migration-*/
