<a href="/">HOME</a>

<h1>You're looking at MODEL with id {{ model.id }} on dataset {{ model.on_dataset.dataset_name }}</h1>

<table>
<tr><td><label for="labels">Labels</label></td>
<td><input type="text" name="labels" id="labels" size="100" value="{{ model.labels }}"></td></tr>

<tr><td><label for="a_preprocess_fun">Preprocessing function:</label></td>
<td><input type="text" name="a_preprocess_fun" id="a_preprocess_fun" size="100" value="{{ model.a_preprocess_fun }}"></td></tr>

</table>

<form action="{% url 'kedrogy:delete_model' model.id %}" method="post">
{% csrf_token %}
<input type="submit" value="delete_model">
</form>

{% if predicted_class %}
<table>

<tr><td><label for="given_text_input">Given text input</label></td>
<td><input type="text" name="given_text_input" id="given_text_input" size="100" value="{{ given_text_input }}"></td></tr>

<tr><td><label for="predicted_class">Predicted class</label></td>
<td><input type="text" name="predicted_class" id="predicted_class" size="100" value="{{ predicted_class }}"></td></tr>

</table>

{% endif %}

{% if model.served %}
<form action="{% url 'kedrogy:predict_model' model.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Predict</h1></legend>
    <table>

    <tr><td><label for="text_input">Text input</label></td>
    <td><input type="text" name="text_input" id="text_input" size="100"></td></tr>

    </table>

</fieldset>
<input type="submit" value="predict_model">
</form>
{% elif model.trained %}
<form action="{% url 'kedrogy:serve_model' model.id %}" method="post">
{% csrf_token %}
<input type="submit" value="serve_model">
</form>
{% else %}
<form action="{% url 'kedrogy:train_model' model.id %}" method="post">
{% csrf_token %}
<input type="submit" value="train_model">
</form>
{% endif %}

