{% block content %} 

<h1>DATASETS</h1>

{% if latest_dataset is not None %}
    Prodigy running for dataset {{ latest_dataset.dataset.dataset_name }}
{% else %}
    Prodigy IS NOT running.
{% endif %}

{% if dataset_list %}
    <ul>
    {% for dataset in dataset_list %}
        <li><a href="{% url 'kedrogy:detail' dataset.id %}">{{ dataset.dataset_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No datasets found.</p>
{% endif %}

<form action="{% url 'kedrogy:new' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Create a new dataset</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table>
    <tr><td><label for="dataset_name">Name</label></td>
    <td><input type="text" name="dataset_name" id="dataset_name" size="100"></td></tr>

    <tr><td><label for="image">Image</label></td>
    <td><input type="text" name="image" id="image" size="100"></td></tr>

    <tr><td><label for="workingDir">workingDir relative to /app</label></td>
    <td><input type="text" name="workingDir" id="workingDir" size="100"></td></tr>

    <tr><td><label for="pipeline">pipeline, or empty for default load_examples</label></td>
    <td><input type="text" name="pipeline" id="pipeline" size="100"></td></tr>

    <tr><td><label for="recipe">Prodigy recipe</label></td>
    <td><input type="text" name="recipe" id="recipe" size="100"></td></tr>

    <tr><td><label for="recipe_options">Prodigy recipe options, space separated</label></td>
    <td><input type="text" name="recipe_options" id="recipe_options" size="100"></td></tr>

    </table>

</fieldset>
<input type="submit" value="new">
</form>

<h1>MODELS</h1>

{% if model_list %}
    <ul>
    {% for model in model_list %}
        <li><a href="{% url 'kedrogy:detail_model' model.id %}">Model {{ model.id }} on {{ model.on_dataset.dataset_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No models found.</p>
{% endif %}

{% endblock %}