{% load i18n %}
{% load django_htmx %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Model Training" %}</title>
    <meta name="description"
          content="Model training interface with live updates">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
  </head>
  <body class="min-h-screen bg-base-200 font-sans p-8">
    <a href="/" class="btn btn-sm btn-outline mb-6 inline-block">{% trans "HOME" %}</a>
    <h1 class="text-2xl font-bold mb-6">
      {% blocktrans with model_id=model.id dataset_name=model.on_dataset.dataset_name %}
      You're TRAINING a model with id {{ model_id }} on dataset {{ dataset_name }}
    {% endblocktrans %}
    </h1>
    <!-- info -->
    <p class="mb-4 text-gray-700">{% trans "TBW" %}</p>
    <!-- HTMX task result -->
    {% partialdef task_result inline %}
    <section hx-trigger="every 1s"
             hx-swap="outerHTML"
             hx-get="{% url 'kedrogy:new-train-result' result_id %}"
             class="bg-base-100 rounded-lg shadow-md p-4 mb-6">
      <label for="logs" class="block font-medium mb-2">
        {% blocktrans with result_value=result %}
        result: {{ result_value }}
      {% endblocktrans %}
      </label>
      <textarea id="logs" name="logs" rows="10" class="w-full input input-bordered focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary resize-none">
{{ logs }}
    </textarea>
    </section>
  {% endpartialdef %}
  {% htmx_script %}
</body>
</html>
