{% block content %} 

{% if dataset_list %}
    <ul>
    {% for dataset in dataset_list %}
        <li><a href="{% url 'label_train_serve:detail' dataset.id %}">{{ dataset.dataset_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No datasets are available.</p>
{% endif %}

<form action="{% url 'label_train_serve:new' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Create new dataset</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="text" name="dataset_name" id="dataset_name" >
    <label for="dataset_name">Name</label><br>
</fieldset>
<input type="submit" value="new">
</form>

{% endblock %}
