# pvc for data/06_models
# for train.yaml + serve.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-model-{{ model_id }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
