apiVersion: v1
data:
  parameters_train.yml: |
    model_options:
      dataset_name: {{ dataset_name }}
      labels: {{ labels }}
      data_seed: 123
      seed: 123
kind: ConfigMap
metadata:
  name: parameters-train-{{ model_id }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: train-{{ model_id }}
spec:
  backoffLimit: 1
  template:
    spec:
      volumes:
        - name: pvc-models
          persistentVolumeClaim:
            claimName: pvc-model-{{ model_id }}
        - projected:
            sources:
              - configMap:
                  name: parameters-train-{{ model_id }}
          name: parameters-train
      containers:
      - name: train
        image: {{ image }}
        imagePullPolicy: Always

        workingDir: /app/{{ workingDir }}
        args: [
            "-m", 
            "kedro", 
            "run", 
            "--params={{ params }}",
            "--pipeline={{ pipeline }}"
          ]

        # command: ["/bin/bash", "-c"]
        # args: 
        #   - |
        #     /app/.venv/bin/python -m kedro run --pipeline={{ pipeline }}

        #     while true; do echo sleep ; sleep 5 ; done 
        env:
          - name: PGHOST
            value: postgres-svc
          - name: PGPORT
            value: "30001"
          - name: PGUSER
            value: postgres
          - name: PGDATABASE
            value: mysite
          - name: PGPASSWORD
            value: postgres
        volumeMounts:
          - mountPath: /app/{{ workingDir }}/data/06_models/
            name: pvc-models
          - mountPath: /app/{{ workingDir }}/conf/base/parameters_train.yml
            name: parameters-train
            subPath: parameters_train.yml

      restartPolicy: Never
